__pycache__/
.ipynb_checkpoints/
gene2go
go-basic.obo
default_params.py
example/P50_round2_LD_pruned_3473.bed
example/P50_round2_LD_pruned_3473.bim
example/P50_round2_LD_pruned_3473.fam
example/data
example/genome_info
example/genotypes
example/grm
example/images
example/log
example/logerr
example/results
example/temp
example/data_distributions.html
example/gwasRun.log
example/Obe*
example/raw_data_*
example/uncura*
example/QC_s*
example/phewas*
example/kg*
example/.ipynb_checkpoints/