gwas/__pycache__/
**/__pycache__/
gwas/.ipynb_checkpoints/
__pycache__/
.ipynb_checkpoints/
gwas.egg-info
gwas/gene2go
gwas/go-basic.obo
gwas/default_params.py
gwas/example/P50_round2_LD_pruned_3473.bed
gwas/example/P50_round2_LD_pruned_3473.bim
gwas/example/P50_round2_LD_pruned_3473.fam
gwas/example/data
gwas/example/genome_info
gwas/example/genotypes
gwas/example/grm
gwas/example/images
gwas/example/log
gwas/example/logerr
gwas/example/results
gwas/example/temp
gwas/example/data_distributions.html
gwas/example/gwasRun.log
gwas/example/Obe*
gwas/example/raw_data_*
gwas/example/uncura*
gwas/example/QC_s*
gwas/example/phewas*
gwas/example/kg*
gwas/example/.ipynb_checkpoints/