numpy
pandas
graphviz
plotly
dash
scikit-learn
hdbscan
ipykernel
jupyter-dash
lightgbm
shap
prophet
umap-learn
seaborn
dash-bootstrap-components
pandas-profiling
matplotlib
prophet
pandas
dash-cytoscape==0.2.0
dash-bio
dash-auth
scikit-optimize
gunicorn
nodejs
ipywidgets
pandas-plink
fastparquet
